*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 0.9),
        rgba(253, 29, 29, 0.9),
        rgba(252, 176, 69, 0.9)
    );
    overflow:hidden;
}

.wrapper{
    text-align:center;

}
.container{
    width:300px;
    height:200px;
    display:inline-block;
    border-radius:20px;
    border: 5px solid #fff;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,1);
    transition: transform 0.3s ease-in-out,
                background 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}

.text{
    font-weight:900;
    font-size:35px;
    line-height:48px;
}

.subtext{
    font-weight:700;
    font-size:16px;
    line-height: 14px;;
}

.Heading{
    height: 70px;
    color: #fff;
    text-align: center;
    vertical-align: top;
}

.name{
    height: 100px;
    background: #f0f0f0;
    font-size: 45px;
    text-align: center;
    overflow: hidden;
    max-width: 300px;
    transition: background 0.3s ease-in-out;
}