body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: linear-gradient(180deg,rgb(87, 184, 199),rgb(244, 108, 237));
}

.container{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding:1rem;
    background-color:rgb(204, 231, 52);
}

#coin{
    position:relative;
    height:15rem;
    margin:2rem 0rem;
    width: 15rem;;
}

#coin div{
    width:100%;
    height:100%;
    border:2px solid black;
    border-radius: 50%;
    backface-visibility: hidden;
    background-size: contain;
    position: absolute;
}

.headsClass{
    background-image: url('https://pixabay.com/images/download/x-145386_1920.png');
    transform: rotateY(0deg);
}

.tailsClass{
    background-image: url('https://pixabay.com/images/download/x-145385_1920.png');
    transform: rotateY(180deg);
}